asgiref==3.7.2
astroid==2.15.6
black==23.3.0
cfgv==3.3.1
click==8.1.4
colorama==0.4.6
cssbeautifier==1.14.8
debugpy==1.6.7
dill==0.3.6
distlib==0.3.6
Django==4.2.3
djlint==1.31.1
EditorConfig==0.12.3
filelock==3.12.2
html-tag-names==0.1.2
html-void-elements==0.1.0
identify==2.5.24
isort==5.12.0
jsbeautifier==1.14.8
json5==0.9.14
lazy-object-proxy==1.9.0
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.8.1
pre-commit==3.3.3
pylint==2.17.4
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
PyYAML==6.0
regex==2023.6.3
six==1.16.0
sqlparse==0.4.4
tomlkit==0.11.8
tqdm==4.65.0
virtualenv==20.23.1
wrapt==1.15.0
