{% extends "main/base.html" %}
{% block title %}Create New Ticket{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0"><i class="fa fa-plus"></i> Create New Support Ticket</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="{{ form.title.id_for_label }}" class="form-label">Title *</label>
                                {{ form.title }}
                                {% if form.title.errors %}
                                    <div class="text-danger">{{ form.title.errors.0 }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.customer_name.id_for_label }}" class="form-label">Customer Name *</label>
                                {{ form.customer_name }}
                                {% if form.customer_name.errors %}
                                    <div class="text-danger">{{ form.customer_name.errors.0 }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.customer_email.id_for_label }}" class="form-label">Customer Email *</label>
                                {{ form.customer_email }}
                                {% if form.customer_email.errors %}
                                    <div class="text-danger">{{ form.customer_email.errors.0 }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.customer_phone.id_for_label }}" class="form-label">Phone Number</label>
                                {{ form.customer_phone }}
                                {% if form.customer_phone.errors %}
                                    <div class="text-danger">{{ form.customer_phone.errors.0 }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.category.id_for_label }}" class="form-label">Category *</label>
                                {{ form.category }}
                                {% if form.category.errors %}
                                    <div class="text-danger">{{ form.category.errors.0 }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.priority.id_for_label }}" class="form-label">Priority *</label>
                                {{ form.priority }}
                                {% if form.priority.errors %}
                                    <div class="text-danger">{{ form.priority.errors.0 }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.description.id_for_label }}" class="form-label">Description *</label>
                            {{ form.description }}
                            {% if form.description.errors %}
                                <div class="text-danger">{{ form.description.errors.0 }}</div>
                            {% endif %}
                            <div class="form-text">Please provide as much detail as possible about the issue.</div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <a href="{% url 'helpdesk:dashboard' %}" class="btn btn-secondary">
                                <i class="fa fa-arrow-left"></i> Cancel
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i> Create Ticket
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
