version: '3.4'
services:
  jenkins:
    image: jenkins/jenkins:lts
    privileged: true
    user: root
    container_name: jenkins-dev-container
    ports:
     - 58080:8080  # 8080 tends to be bussy; using something more unique.
     - 50000:50000
