{% extends "main/base.html" %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="jumbotron text-center">
    <h1>Welcome to this simple Django website!</h1>
    <h3>The below outlines basic concepts that were used.</h3>
</div>

<div class="container px-4">
    <div class="row">
        <div class="col-md-4">
            <h2>Templates</h2>
            <p>I have experience building templates using Django's template language. I'm also familiar with using template inheritance and context processors.</p>
            <a class="btn btn-default" href="#" role="button">View details  »</a>
        </div>
        <div class="col-md-4">
            <h2>Forms</h2>
            <p>I have experience building forms using Django's form library. I'm also familiar with using form validation and handling form submissions.</p>
            <a class="btn btn-default" href="#" role="button">View details  »</a>
        </div>
        <div class="col-md-4 -b--1">
            <h2>Models</h2>
            <p>I have experience building models using Django's object-relational mapping (ORM) system. I'm also familiar with using model fields and relationships.</p>
            <a class="btn btn-default" href="#" role="button">View details  »</a>
        </div>
        <div class="col-md-4">
            <h2>Middleware</h2>
            <p>I have experience building middleware using Django's middleware framework. I'm also familiar with using middleware to handle requests and responses, as well as to perform authentication and other tasks.</p>
            <a class="btn btn-default" href="#" role="button">View details  »</a>
        </div>
    </div>
</div>
{% endblock content %}
